<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.min.css">
        <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/theme/default.css">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Занятие по VueJS</title>
    </head>

<body>
     <script type="text/javascript">
       window.config = {{{toJSON config}}};
       window.navigation = {{{toJSON navigation}}};
    </script>
    <script src="./extLib/vue.min.js"></script>
    <script src="./extLib/vue-material.min.js"></script>
    <script src="./extLib/vuex.min.js"></script>
    <div id="app">VUE поломался ;(</div>
    <script src="./main.js"></script>
</body>

</html>